<!-- <div class="item-card m-4 row justify-content-md-center">
  <h1><%= @item_listings.item_name %></h1>
  <p>Description: <%= @item_listings.description %></p>
  <br>
  <h3>Price: <%= @item_listings.price %></h3>
  <p>Seller: <%= @item_listings.user_id %></p>
</div>
 -->
