<div class="item-card m-4 row justify-content-md-center">
  <h1><%= @item_listing.item_name %></h1>
  <p>Description: <%= @item_listing.description %></p>
  <h3>Price: <%= @item_listing.price %></h3>
  <p>Seller: <%= @item_listing.user_id %></p>
</div>
